<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @catalog.name %>
</p>

<table width="100%" border="0">
  <tr>
    <th width="90%" style="text-align: left;padding-left: 5px">Name</th>
    <th width="5%"></th>
    <th width="5%"></th>
  </tr>
<div class='list-product'>
    <% @products.each do |product| %>
          <tr>
            <td style="padding: 5px"><%= link_to product.name, product  %></td>
            <td><%= link_to "", edit_admin_product_path(product) ,class: "icon-edit " %></td>
            <td><%= link_to "", admin_product_path(product) , confirm: 'Are you sure?',class: "icon-remove-sign"  ,method: :delete %></td>
          </tr>
    <% end %>
</div>
</table>
<%= will_paginate(@products) %>

<p><%= link_to "Add Product", @catalog.id.to_s+'/products/new' %></p>